<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ATIinject</string>
	<key>CFBundleIdentifier</key>
	<string>com.max.ATIinject</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ATIinject</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ATIinject</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.max.ATIinject</string>
			<key>IOClass</key>
			<string>com_max_ATIinject</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>display</string>
			<key>IOPCIMatch</key>
			<string>0x00001002&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>entriesToAdd</key>
			<dict>
				<key>@0,AAPL,boot-display</key>
				<data>
				AQAAAA==
				</data>
				<key>@0,ATY,EFIDisplay</key>
				<string>LVDS</string>
				<key>@0,compatible</key>
				<string>ATY,Wormy</string>
				<key>@0,device_type</key>
				<string>display</string>
				<key>@0,display-connect-flags</key>
				<data>
				AAAEAA==
				</data>
				<key>@0,display-link-component-bits</key>
				<integer>6</integer>
				<key>@0,display-pixel-component-bits</key>
				<integer>6</integer>
				<key>@0,name</key>
				<string>ATY,Wormy</string>
				<key>@1,compatible</key>
				<string>ATY,Wormy</string>
				<key>@1,device_type</key>
				<string>display</string>
				<key>@1,name</key>
				<string>ATY,Wormy</string>
				<key>AAPL,aux-power-connected</key>
				<integer>1</integer>
				<key>AAPL,backlight-control</key>
				<integer>1</integer>
				<key>AAPL00,Coherency</key>
				<data>
				AgAAAA==
				</data>
				<key>AAPL01,Coherency</key>
				<data>
				AgAAAA==
				</data>
				<key>ATY,Copyright</key>
				<string>Copyright ATI Technologies Inc. 2005</string>
				<key>ATY,DeviceID</key>
				<integer>29125</integer>
				<key>ATY,EFIVersion</key>
				<string>01.00.068</string>
				<key>ATY,FrameBufferOffset</key>
				<integer>256</integer>
				<key>ATY,IOSpaceOffset</key>
				<integer>6291456</integer>
				<key>ATY,RegisterSpaceOffset</key>
				<integer>24864</integer>
				<key>ATY,VRAM,MemSize</key>
				<integer>256</integer>
				<key>ATY,VendorID</key>
				<integer>4098</integer>
				<key>DFP1,EDID</key>
				<data>
				AP///////wAVwyYWAAAAABALAQKAJB146hsEolhJnSQX
				S0+hCACBgHFAAQEBAQEBAQEBAQEBMCoAmFEAKkAwcBMA
				ZyARAAAeAAAA/wA1NTI2MzA0MQogICAgAAAA/QA7PRtB
				CwAKICAgICAgAAAA/ABMNjc1CiAgICAgICAgAKM=
				</data>
				<key>LVDS,EDID</key>
				<data>
				AP///////wANrxQVAAAAAAAAAQOAIRV4ChylmVZShiYg
				UFQAAAABAQEBAQEBAQEBAQEBAQEBvBsAoFAgFzAwIDYA
				S88QAAAYAAAA/gBOMTU0STEtTDBCCiAgAAAA/gBDTU8K
				ICAgICAgICAgAAAA/gBOMTU0STEtTDBCCiAgADw=
				</data>
				<key>device_type</key>
				<string>ATY,WormyParent</string>
				<key>model</key>
				<string>ATY,RadeonX1600</string>
				<key>name</key>
				<string>ATY,WormyParent</string>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.iokit</key>
		<string>6.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
